<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pushpull.camapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/sdk_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sdk_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label,android:supportsRtl">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.LoginPasswdFindActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            />
        <activity
            android:name=".ui.DeviceOnlineMediaPlayMultiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.MyPageActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            />
        <activity android:name=".ui.NoticeActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            />
    </application>
</manifest>